@import "tailwindcss";

/* font family */
.sansita-swashed-regular {
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sansita-swashed-bold {
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lexend-zetta-bold {
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.container {
    width: 1728px;
    padding: 0 60px;
    margin: 0 auto;
}
.active-link {
    @apply text-fuchsia-700;
}
.active-dot {
    @apply bg-[#D9D9D9];
}
